
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --bg:#e5e5e5d1;
  --card-bg-color:#f3f3f3;
  --primary-color:#212121ea;
  --secondary-color:#212121c8;

  --space-ssm:0.25rem;
  --space-sm:0.5rem;
  --space-md:1rem;
  --space-lg:2rem;
  --space-xxl:4rem;

  --font-size-ssm:0.75rem;
  --font-size-sm:0.875rem;
  --font-size-md:1rem;
  --font-size-lg:1.125rem;
  --font-size-xl:1.25rem;
  --font-size-xxl:1.5rem;

  --ff:"Montserrat", sans-serif;


  font-size:var(--font-size-md);

  --header-weight:700;
  --primary-border-radius: 14px;
}

*{
  box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, ul{
  margin:0;
  padding: 0;
}

ul{
  list-style-type: none;
}

.mt-1{
  margin-top: var(--space-ssm);
}

.mt-2{
  margin-top: var(--space-sm);
}

.mt-3{
  margin-top: var(--space-md);
}

.mt-4{
  margin-top: var(--space-lg);
}

.flex{
  display:flex;
}

.flex-row{
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
  align-items: center;
}

.align-center{
  align-items: center;
}

.nowrap{
  flex-wrap: nowrap;
}

.gap-1{
  gap:var(--space-sm)
}

.gap-2{
  gap:var(--space-md)
}

.gap-3{
  gap:var(--space-lg)
}

.gap-4{
  gap:var(--space-xxl)
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.secondary-text{
  color: var(--secondary-color);
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}


form{
  position: relative;
}
input{
  position: relative;
  border: none;
  border-radius: var(--primary-border-radius);
  padding-inline:var(--space-sm);
  padding-block: var(--space-ssm);
  max-width:10rem;
  font-size: var(--font-size-lg);
  font-weight: var(--header-weight);
}

input::placeholder{
  position: relative;
  text-align: left;
}

.icon{
  position: absolute;
  width:20px;
  top:5px;
  left:8px;
}



@media (min-width:780px) {
  .cards{
    gap:5rem;
  }
}

.card-style{
  background-color: var(--card-bg-color);
  border-radius: var(--primary-border-radius);
  box-shadow:0px 1px 7px rgba(14, 14, 14, 0.2);
  padding:var(--space-md);
  max-width: 320px;
  min-width:200px;
}

body{
  background-color: var(--bg);
  background-repeat: no-repeat;
  min-height:100dvh;
  color:var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--header-weight);

  .header{
    margin-top: var(--space-md);
    h1{
      font-size:clamp(var(--font-size-xl), var(--font-size-xl) + 1vw, 4rem);
    }
  }
  .container{
    width:min(960px, 100%);
    padding: var(--space-sm);
    margin: 0 auto;

    main{
      margin-top: var(--space-xxl);
    }

    .cards{
      margin: 0 auto;
      width:min(810px, 85vw);
      .card{
        flex:0 1 320px;
        text-align: center;

        @media (max-width:400px){
          box-shadow:0px 1px 4px rgba(010, 010, 010, 0.15);
        }

          .card-header{
            font-size:clamp(0.25rem, 0.25rem + var(--font-size-xxl), 3rem);
          }

          .card-text{
            font-size:clamp(0.25rem, 0.125rem + var(--font-size-xl), 3rem);
            color:var(--secondary-color)
          }

          .weather-card{
            gap:var(--space-ssm);
          }

          .current-weather-icon{
            width:6.25rem;
            height:6.25rem;
            filter: drop-shadow(4px 6px 8px raba(0, 0, 0, 0.5));
            object-fit: contain;
          }

          .temperature{
            font-size:clamp(0.75rem, 1rem + var(--font-size-xl), 4rem);
          }

          .day{
            background-color: var(--card-bg-color);
            justify-content: space-between;
            flex-wrap: nowrap!;
            font-size: var(--font-size-xl);

          }
      }

    }
  }
}

.days{
  transition: all 0.1s;
}

.days:active{
  transform: translate(0px, -5px);
}

@keyframes cardAnim {
  0%{
    transform: translate(0px, 0px);
  }

  50%{
    transform: translate(0, -4px);
  }

  100%{
    transform: translate(0px, 0px);
  }
}

@media (max-width:800px) {
  .flex-row{
    gap:var(--space-md);
  }
}
